/* This will be applied to the part of the body tag only */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* This the style for main only */
main {
    background-color: rgb(203, 204, 206);
    padding: 4px;
    color: #202020;
}

/* This will be applied for all h1 and h2 we have here just separated by commas */
h1, h2 {
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* All the images inside the header */
/* The id with headshot inside image is a more specific than a tag */
#headshot {
    border: 1px solid lightgray;
    /*2pxforthetop-bottomand8pxforleft-right*/
    padding: 3px 10px;
    /*2px-top,6px-righ,8px-bottom,25px-left*/
    /*padding: 2px 6px 10px 25px;
    */
    margin: 8px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    max-width: 150px;
}

/* This max-widht will not work for the image as we have specific headshot for it already */
img {
    max-width: 500px;
}

/* Concept of class for specific changes */
.experience{
    border: inset 1px;
    margin-bottom:  4px;
    padding: 4px;
    background-color: white;
    color: #222;
}

/* Making it class level prepares us to do micro level changes */
.experience .title {
    font-weight: bold;
}

/* Making it class level prepares us to do micro level changes */
.experience .none {
    font-weight: 900;
    color: red;
}

footer{
    background-color: #202020;
    color: lightblue;
    text-align: center;
    padding: 3px;
    /* Postion of the text to be fitted */
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;

}

#menu li{
    display: inline;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    /* color: aliceblue; */
}

#menu li a {
    color: rgb(248, 247, 247) !important;
    text-decoration: none;
}

/* Here there are no space between li and .active as they belong to same tag */
#menu li.active {
    background-color: darkslateblue;
}

#menu {
    float: right;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
}

header #menu {
    margin-left: auto;
}

/* header #headshot, header #siteName, header #menu {
    display: inline;
    vertical-align: middle;
} */